<div>
    <h3>{{ nombreConCiudad }}</h3>
    <a href="https://github.com/jcgarzont/Semillerojcgarzont">https://github.com/jcgarzont/Semillerojcgarzont</a>
    <ol>
        <li *ngFor="let lista of listaComics">
            <ul>
                <li>Id: {{lista.id}}</li>
                <li>Nombre: {{lista.nombre}}</li>
                <li>Editorial: {{lista.editorial}}</li>
                <li>Tematica: {{lista.tematica}}</li>
                <li>Numero de paginas: {{lista.numeroPaginas}}</li>
                <li>Precio: ${{lista.precio}}</li>
                <li>Autores: {{lista.autores}}</li>
                <li>Color: {{lista.aColor}}</li>
                <li>Fecha de venta: {{lista.fechaVenta}}</li>
                <li>Estado: {{lista.estado}}</li>
            </ul>
        </li>
    </ol>
    <button type="button" [disabled]="clicked" (click)="eliminarEventoClick(3); clicked = true;" class="btn btn-primary">Eliminar #3</button>
    <button type="button" (click)="ocultarEventoClick()" class="btn btn-primary">Ocultar</button>

    <div *ngIf = "mostrarMensaje">
        Se elimino el comic {{nombreEliminado}}
    </div>
</div>
